
@model MVCApplication.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<br />

@if (@Model.State != false)

{ <p>@Model.Numlim prime numbers up to @Model.Numin (if there are that many) are:</p>
    @foreach (int item in Model.Answer)
    {

        @item<br />
    }
   


<br />

}

<p>@Model.Error</p>

